<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>BuildMachineOSBuild</key>
    <string>14D136</string>
    <key>CFBundleDisplayName</key>
    <string>Squiffy</string>
    <key>CFBundleExecutable</key>
    <string>Electron</string>
    <key>CFBundleIconFile</key>
    <string>atom.icns</string>
    <key>CFBundleIdentifier</key>
    <string>uk.co.textadventures.squiffy</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Squiffy</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleVersion</key>
    <string>5.0.0</string>
    <key>DTSDKBuild</key>
    <string>14D125</string>
    <key>DTSDKName</key>
    <string>macosx</string>
    <key>DTXcode</key>
    <string>0632</string>
    <key>DTXcodeBuild</key>
    <string>6D2105</string>
    <key>LSMinimumSystemVersion</key>
    <string>10.8.0</string>
    <key>NSMainNibFile</key>
    <string>MainMenu</string>
    <key>NSPrincipalClass</key>
    <string>AtomApplication</string>
    <key>NSSupportsAutomaticGraphicsSwitching</key>
    <true/>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.developer-tools</string>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>squiffy</string>
            </array>
            <key>CFBundleTypeIconFile</key>
            <string>atom</string>
            <key>CFBundleTypeName</key>
            <string>Squiffy project</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleTypeOSTypes</key>
            <array>
              <string>TEXT</string>
              <string>utxt</string>
              <string>TUTX</string>
              <string>****</string>
            </array>
        </dict>
    </array>
  </dict>
</plist>