html, body {
    height: 100%;
    overflow: hidden;
}

#squiffy-editor {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
}

a.squiffy-link
{
    text-decoration: underline;
    text-decoration-color: Blue;
    color: Blue;
    cursor: pointer;
    transition: color 0.4s ease-in-out, text-decoration-color 0.4s ease-in-out;
}

a.squiffy-link.disabled,
div.squiffy-output-section:not(:last-child) a.squiffy-link,
div.squiffy-output-section.links-disabled a.squiffy-link
{
    text-decoration: inherit;
    text-decoration-color: transparent;
    color: inherit !important;
    cursor: inherit;
    pointer-events: none;
}

div.squiffy-output-block:not(:last-child), div.squiffy-output-section:not(:last-child)
{
    margin-bottom: 1em;
    border-bottom: 1px solid #ccc;
}

#editor { 
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#debugger {
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
}

#squiffy-editor {
    width: 100%;
    height: 100%;
    position: fixed;
}

#output, #tab-help, #tab-tools {
    position: absolute;
    top: 54px;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 20px;
    background: #fff;
}

#info {
    margin-left: 20px;
    font-size: 90%;
}

ul.dropdown-menu a {
    cursor: pointer;
}

.toolbar {
  margin-top: 10px;
}

.tab-pane h3:first-of-type {
  margin-top: 0;
}

.tab-pane h3:not(:first-of-type) {
  margin-top: 30px;
}

.ace-squiffy .ace_gutter {
    background: #ebebeb;
    color: #333;
    overflow: hidden;
}

.ace-squiffy .ace_print-margin {
    width: 1px;
    background: #e8e8e8;
}

.ace-squiffy {
    background-color: #FFFFFF;
    color: black;
}

.ace-squiffy .ace_identifier {
    color: black;
}

.ace-squiffy .ace_keyword {
    color: #0000FF;
}

.ace-squiffy .ace_numeric {
    color: black;
}

.ace-squiffy .ace_storage {
    color: #11B7BE;
}

.ace-squiffy .ace_keyword.ace_operator,
.ace-squiffy .ace_lparen,
.ace-squiffy .ace_rparen,
.ace-squiffy .ace_punctuation {
    color: #808080;
}

.ace-squiffy .ace_set.ace_statement {
    color: #0000FF;
    text-decoration: underline;
}

.ace-squiffy .ace_cursor {
    color: black;
}

.ace-squiffy .ace_invisible {
    color: rgb(191, 191, 191);
}

.ace-squiffy .ace_constant.ace_buildin {
    color: rgb(88, 72, 246);
}

.ace-squiffy .ace_constant.ace_language {
    color: #979797;
}

.ace-squiffy .ace_constant.ace_library {
    color: rgb(6, 150, 14);
}

.ace-squiffy .ace_invalid {
    background-color: rgb(153, 0, 0);
    color: white;
}

.ace-squiffy .ace_support.ace_function {
    color: #FF00FF;
}

.ace-squiffy .ace_support.ace_constant {
    color: rgb(6, 150, 14);
}

.ace-squiffy .ace_class {
    color: #008080;
}

.ace-squiffy .ace_support.ace_other {
    color: #6D79DE;
}

.ace-squiffy .ace_variable.ace_parameter {
    font-style: italic;
    color: #FD971F;
}

.ace-squiffy .ace_comment {
    color: #008000;
}

.ace-squiffy .ace_constant.ace_numeric {
    color: black;
}

.ace-squiffy .ace_variable {
    color: rgb(49, 132, 149);
}

.ace-squiffy .ace_xml-pe {
    color: rgb(104, 104, 91);
}

.ace-squiffy .ace_support.ace_storedprocedure {
    color: #800000;
}

.ace-squiffy .ace_heading {
    color: rgb(6, 150, 14);
}

.ace-squiffy .ace_heading.ace_section {
    font-weight: bold;
}

.ace-squiffy .ace_list {
    color: rgb(185, 6, 144);
}

.ace-squiffy .ace_marker-layer .ace_selection {
    background: rgb(181, 213, 255);
}

.ace-squiffy .ace_marker-layer .ace_step {
    background: rgb(252, 255, 0);
}

.ace-squiffy .ace_marker-layer .ace_stack {
    background: rgb(164, 229, 101);
}

.ace-squiffy .ace_marker-layer .ace_bracket {
    margin: -1px 0 0 -1px;
    border: 1px solid rgb(192, 192, 192);
}

.ace-squiffy .ace_marker-layer .ace_active-line {
    background: rgba(0, 0, 0, 0.07);
}

.ace-squiffy .ace_gutter-active-line {
    background-color: #dcdcdc;
}

.ace-squiffy .ace_marker-layer .ace_selected-word {
    background: rgb(250, 250, 255);
    border: 1px solid rgb(200, 200, 250);
}

.ace-squiffy .ace_meta.ace_tag {
    color: #0000FF;
}

.ace-squiffy .ace_string.ace_regex {
    color: #FF0000;
}

.ace-squiffy .ace_string {
    color: #FF0000;
}

.ace-squiffy .ace_entity.ace_other.ace_attribute-name {
    color: #994409;
}

.ace-squiffy .ace_indent-guide {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAE0lEQVQImWP4////f4bLly//BwAmVgd1/w11/gAAAABJRU5ErkJggg==") right repeat-y;
}