a.squiffy-link
{
    text-decoration: underline;
    text-decoration-color: Blue;
    color: Blue;
    cursor: pointer;
    transition: color 0.4s ease-in-out, text-decoration-color 0.4s ease-in-out;
}
a.squiffy-link.disabled,
div.squiffy-output-section:not(:last-child) a.squiffy-link,
div.squiffy-output-section.links-disabled a.squiffy-link
{
    text-decoration: inherit;
    text-decoration-color: transparent;
    color: inherit !important;
    cursor: inherit;
    pointer-events: none;
}
button.squiffy-header-button
{
    text-decoration: underline;
    color: Blue;
    cursor: pointer;
    background: none;
    border: none;
    font-family: inherit;
}
div#squiffy-container
{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    font-family: Georgia, serif;
}
div#squiffy-header
{
    font-size: 14px;
    text-align: right;
}
div#squiffy
{
    font-size: 18px;
}
div.squiffy-output-block:not(:last-child),
div.squiffy-output-passage:not(:last-child),
div.squiffy-output-section:not(:last-child)
{
    margin-bottom: 1em;
    border-bottom: 1px solid #ccc;
}
.fade-out {
    opacity: 0;
    transition: opacity 200ms;
}
.fade-in {
    opacity: 1;
    transition: opacity 200ms;
}