---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Squiffy - A simple way to write interactive fiction">
    <div class="text-center">
        <img src="/squiffy.png" alt="Squiffy" class="img-fluid w-25" />
    </div>

    <h1 class="text-center mt-4">
        Squiffy - A simple way to write interactive fiction
    </h1>

    <div class="mt-4 d-flex justify-content-center">
        <div style="max-width: 600px">
            <p>
                Squiffy is a tool for creating interactive fiction - that is,
                multiple choice games that focus on text and story. Players
                navigate through the game or story by clicking links.
            </p>

            <p>Squiffy is free and open source. It creates HTML and JavaScript,
                so you can upload it to your own website, or to a site like <a href="https://itch.io/">itch.io</a>
                or <a href="https://textadventures.co.uk">textadventures.co.uk</a>.
            </p>

            <p>A player's state is automatically saved to their browser's local
                storage, so they can always pick up from where they left off
                just by going back to the same web page.
            </p>

            <p>The Squiffy Editor runs entirely in your browser.
                All your data is saved locally on your device, automatically.
            </p>
        </div>
    </div>

    <div class="mt-3 d-flex justify-content-center">
        <a href="https://app.squiffystory.com" target="_blank" class="btn btn-primary btn-lg">Start Squiffy Editor</a>
    </div>

    <div class="mt-3 d-flex justify-content-center">
        <p>
            <a href="/docs/">Documentation</a> &middot;
            <a href="https://textadventures.co.uk/forum/squiffy">Forums</a> &middot;
            <a href="https://github.com/textadventures/squiffy">GitHub</a>
        </p>
    </div>
</Layout>
