---
interface Props {
    script: string;
}

import Split from "./Split.astro";

const { script } = Astro.props;
---

<style is:global>
    a.squiffy-link
    {
        text-decoration: underline;
        color: Blue;
        cursor: pointer;
    }
    a.squiffy-link.disabled, div.squiffy-output-section:not(:last-child) a.squiffy-link
    {
        text-decoration: inherit;
        color: inherit !important;
        cursor: inherit;
    }
    div.squiffy-output-block:not(:last-child), div.squiffy-output-section:not(:last-child)
    {
        margin-bottom: 1em;
        border-bottom: 1px solid #ccc;
    }
    .viewer {
        padding: 2px;
    }
    .viewer p {
        margin-bottom: 1rem;
    }
</style>

<div class="sample not-content" data-squiffy-script={script}>
    <Split gap="0.75rem" min="200px">
        <div slot="left" class="editor">
        </div>
        <div slot="right">
            <div class="viewer"></div>
            <button class="btn btn-primary btn-sm restart">Restart</button>
        </div>
    </Split>
</div>

<script>
    import {basicSetup, EditorView} from 'codemirror';
    import { compile as squiffyCompile } from 'squiffy-compiler';
    import { init as runtimeInit } from 'squiffy-runtime';
    import debounce from 'debounce';

    let squiffyApi: SquiffyApi | null;
    const samples = document.querySelectorAll('.sample');
    
    document.addEventListener("DOMContentLoaded", async () => {
        for (const sample of samples) {
            let script = '';
            let loaded = false;

            const editor = sample.querySelector('.editor');
            if (!editor) continue;

            const viewer = sample.querySelector('.viewer') as HTMLElement;
            if (!viewer) continue;

            const restart = sample.querySelector('.restart') as HTMLButtonElement;

            const init = async () => {
                await initRuntime(script, viewer, restart);
            };

            const updateListener = EditorView.updateListener.of(async (update) => {
                const value = update.state.doc.toString();
                if (value == script) return;

                script = value;

                if (!loaded) {
                    loaded = true;
                    await init();
                } else {
                    debounce(init, 1000)();
                }
            });

            new EditorView({
                doc: (sample as HTMLElement).dataset.squiffyScript,
                extensions: [
                    basicSetup,
                    EditorView.lineWrapping,
                    EditorView.theme({
                        ".cm-content": {fontSize: "13px"},
                        ".cm-lineNumbers": {fontSize: "13px"},
                    }),
                    updateListener
                ],
                parent: editor
            });
        }
    });

    async function initRuntime(script: string, outputContainer: HTMLElement, restartButton: HTMLElement) {
        const result = await squiffyCompile({
            scriptBaseFilename: "filename.squiffy",
            script: script,
        });

        if (!result.success) {
            console.error("Failed to compile script", result.errors);
            return;
        }

        const data = result.output;
        const js = data.js.map(jsLines => new Function('squiffy', 'get', 'set', jsLines.join('\n')));

        if (squiffyApi)
        {
            const story = {
                js: js as any,
                ...result.output.story,
            };
            squiffyApi.update(story);
        }
        else {
            outputContainer.innerHTML = '';
            const output = document.createElement('div');
            outputContainer.appendChild(output);

            squiffyApi = runtimeInit({
                element: output,
                scroll: 'element',
                persist: false,
                story: {
                    js: js as any,
                    ...data.story,
                },
            });

            restartButton.addEventListener('click', () => {
                squiffyApi.restart();
            });
        }
    }
</script>