---
import Squiffy from "@components/Squiffy.astro";

interface Props {
    script: string;
}

const { script } = Astro.props;
---

<div class="row sample">
    <div class="col-md-6">
        <pre>
            {script}
        </pre>
    </div>
    <div class="col-md-6 output">
        <Squiffy script={script} />
        <button class="btn btn-primary btn-sm restart">Restart</button>
    </div>
</div>